<div class="row">
    <div class="conversation-wrap">  
        <ul *ngIf="(threads| async)?.length > 0; else loading">
            <li *ngFor="let listItem of threads| async">
               {{ listItem.name }}
            </li>
         </ul>
         
         <ng-template #loading>
           <p>Shows when no data, waiting for Api</p>
           <!-- <loading-component></loading-component> -->
         </ng-template>

        <!-- <li *ngFor="let thread of threads | async">
            {{ thread.name }}
        </li>       -->
        <!-- <app-chat-thread
            *ngFor="let thread of threads | async"
            [thread]="thread">
        </app-chat-thread> -->
    </div>
</div>
